html {
	font-size: 12px;
	font-family: Helvetica;
}

table {
    border: 1px solid #444;
    width: auto;
    font-size: 1em;
    text-align: justify;
}

table tr {
    padding: 5px;
}

table td,
table th
 {
    padding: 5px 10px;
}

a {
    text-decoration: none;
}
